<div class="container mt-5 mb-5" style="padding: 60px 0">
 
    <h2 style="font-size: 40px;">Lịch Sử Đặt Vé</h2>
   
   
   
  <table class="table table-hover">
   
    <thead>
   
      <tr class="table-danger" >
   
        <th>Mã Ghế</th>
   
        <th>Ngày Đặt</th>

        <th>Giá Vé</th>

        <th>Tên Phim</th>

        <th>Rạp</th>
      </tr>
   
    </thead>
   
    <tbody>
   
      <tr class="table" *ngFor="let item of dsVeDaDat.DanhSachVeDaDat">
   
        <td>{{item.MaGhe}}</td>
   
        <td>{{item.NgayDat | date:'medium'}} </td>
        
        <td>{{item.TenPhim}}</td>
        
        <td>{{item.GiaVe}}</td>

        <td>{{item.Rap}}</td>
       
      </tr>
    </tbody>
   
  </table>
   
  </div>

