
<div style="background: #fff;border-radius: 5px;position: relative;;" id="home-dsphim" *ngIf="!flag;else dsPhim">
  <div class="row mt-5" id="lichchieu">
    <div class="col-12 text-center mt-3">
      <a class="mr-3 title-p"  (click)="hienPhimDangChieu()" style="font-size: 24px" >PHIM ĐANG CHIẾU</a>
      <a class="mr-3 title-p" (click)="hienPhimSapChieu()" style="font-size: 24px">PHIM SẮP CHIẾU</a>
    </div>
  </div>
  <div class="row">

    <div class="col-12">
      <app-phim-dang-chieu *ngIf="flag;else hidePDC"></app-phim-dang-chieu>
    </div>

    <ng-template #hidePDC>
    <div class="col-12">
      <app-phim-sap-chieu></app-phim-sap-chieu>
    </div>
    </ng-template>

  </div>
  <button style="position: absolute;left: 40%;bottom:5%;width: 200px" class="btn btn-success" (click)="xemThem()"> Xem Thêm</button>
</div>

<ng-template #dsPhim  id="home-dsphim">
  
    <div  style="background: #fff;border-radius: 5px;" class="row ">
        <div class="col-12 col-sm-6 col-md-4 text-center p-5" *ngFor="let phim of arrPhim">
            <div class="filmThumbnail" style="position: relative;">
                <img [src]="phim.HinhAnh" alt="" class="image-phim">
                <div style="font-size: 15px;text-align: center; font-weight: bold;margin: 10px 0;font-family:'SF Medium' ;color: black" class="name-phim">{{phim.TenPhim}}</div>
                <div class="hoverInfo text-center">
                    <button class="playTrailer" data-toggle="modal" data-target="#exampleModalCenter">
                        <img src="../../../../assets/img/play-video.png" alt=""  class="img-playtrailer">
                    </button>
                    <span class="ageType" style="position: absolute;left: 20%;">C18</span>
                    <span class="avgPoint" style="position: absolute;right: 15%;font-family: 'SF Medium';">
                        <p style="font-size: 16px">{{phim.DanhGia}}</p>
                    </span>
                </div>    
            </div>  
            <div class="showInfo-phim" >
                <button class="btn-muave  text-center" [routerLink]="[ '/trangchitiet', phim.MaPhim ]">Mua Vé</button>
            </div>
        </div>
       
    </div>
   
</ng-template>
<!-- Modal -->
<!-- <div class="modal fade" id="myModal" role="dialog" style="height: 530px;width: 898px;">
    <div class="modal-dialog modal-lg  modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body" style="width: 100%;height: 100%;">
          <iframe [src]="phim.Trailer | safe"frameborder="0" width="100%" height="85%"></iframe>
        </div>
        
      </div>
    </div>
  </div> -->
<!-- Modal -->
<!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{phim.TenPhim}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <iframe [src]="phim.Trailer | safe"frameborder="0" width="100%" height="85%"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->






