<div class="col-xs-12 block" id="footer">
    <div class="mainMaxWidth" >
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <p class="title">567PHIM</p>
                <div class="col-sm-6 col-xs-6">
                    <a href="">FAQ</a>                  
                </div>
                <p>567 là website bán vé online được cập nhật thường xuyên về các bộ phim mới và có nhiều chương trình khuyễn mãi hấp dẫn</p>
            </div>
            <div class="col-sm-4 col-xs-12">
                <p class="title">Đối Tác</p>
                <div class="row col-sm-12" style="margin-bottom: 15px">
                    <a href="">
                        <img src="../../../../assets/img/rap-bhd.png" alt="" class="iconConnect">
                    </a>
                    <a href="">
                        <img src="../../../../assets/img/rap-cinestar.png" alt="" class="iconConnect">
                    </a>
                    <a href="">
                        <img src="../../../../assets/img/rap-CGV.png" alt="" class="iconConnect">
                    </a>
                    <a href="">
                        <img src="../../../../assets/img/rap-lottte.png" alt="" class="iconConnect">
                    </a>
                    <a href="">
                        <img src="../../../../assets/img/rap-mega.png" alt="" class="iconConnect">
                    </a>
                </div>
                <div class="row col-sm-12">
                    <a href="">
                        <img src="../../../../assets/img/rap-dong-da.png" alt="" class="iconConnect">
                    </a>
                   
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="col-xs-6" style="width: 50%">
                    <p class="title">MOBILE APP</p>
                    <a href="">
                        <img src="../../../../assets/img/apple-logo.png" alt="" class="iconApp">
                    </a>
                    <a href="">
                        <img src="../../../../assets/img/android-logo.png" alt="" class="iconApp">
                    </a>
                </div>
                <!-- <div class="col-xs-6" style="width: 50%;">
                    <p class="title">SOCIAL</p>
                    <a href="">
                        <img src="../../../../assets/img/facebook-logo.png" alt="" class="iconApp">
                    </a>
                    <a href="">
                        <img src="../../../../assets/img/zalo-logo.png" alt="" class="iconApp">
                    </a>
                </div> -->
            </div>
        </div>
    </div>
</div>