
<div class="main-tintuc" style="background: #fff;margin-bottom: 40px " id="home-tintuc">
    <div class="row mt-3 p-4">
        <div class="col-12 text-center">
          <a class="mr-2 title-tintuc" (click)="setDienAnh()" style="font-size: 25px;padding: 10px" >Điện Ảnh 24h</a>
          <a class="mr-2 title-tintuc" (click)="setReview()" style="font-size: 25px;padding: 10px">Review</a>
          <a class="mr-2 title-tintuc" (click)="setKhuyenMai()" style="font-size: 25px;padding: 10px">Khuyến Mãi</a>
        </div>
    </div>
    <div class="row mt-3 ml-2 mr-2" [ngSwitch]="flag">   
      
        <div class="col-12" *ngSwitchCase="'dienanh'">
            <app-dien-anh ></app-dien-anh>
        </div>      
      
        <div class="col-12" *ngSwitchCase="'review'" >
            <app-review ></app-review>
        </div>           
     
        <div class="col-12" *ngSwitchCase="'khuyenmai'">
            <app-khuyen-mai  ></app-khuyen-mai>
        </div>
     
    </div>
</div>
